
<form method="patch" action="/patients/id">
<h1>Please Check the following that apply</h1>
<input type="hidden" name="authenticity_token"value="<%= form_authenticity_token%>" />
<input type="checkbox"> You have been to therapy before<br>
<input type="checkbox" > You are currently on medication<br>
<p>If so, list here<p><input type="text"><br>
<input type="checkbox" > You have experienced suicidal thoughts<br>
<input type="checkbox" > You have a known mental illness<br>
<p>If so, list here<p><input type="text"><br>
<input type="checkbox" > You are you committed to treatment<br>
<input type=“checkbox” > You have any medical problems<br>
<p>If so, list here<p><input type="text"><br>
<input type="checkbox"> You experience hallucinations<br>
<input type="checkbox" > Are you sexually active<br>
<input type="checkbox" > You have pets<br>
<input type="checkbox" > You have been convicted of a crime<br>
<input type="checkbox" > You are in a relationship<br>
<input type="checkbox" > You speak English fluently<br>
<p>What are you hoping to achive through therapy</p>
<input type="textbox">
<p>What are you hoping to achive through therapy</p>
<input type="textbox"><br>
<br>
<br>
<p>If completed please sign with your full and submit</p>
<input type="submit">