
<form method="post" action="/patients/<%=@patient.id%>">
<input type="hidden" name="_method" value="patch">
<h1>Please Check the following that apply</h1>
<input type="hidden" name="authenticity_token"value="<%= form_authenticity_token%>" />
<input type="checkbox" name="you_have_been_to_therapy_before"/> You have been to therapy before<br>
<input type="checkbox" name="you_are_currently_on_medication" /> You are currently on medication<br>
<p>If so, list here</p><input type="text"/><br>
<input type="checkbox" name="you_have_experienced_suicidal_thoughts" /> You have experienced suicidal thoughts<br>
<input type="checkbox" name="you_have_a_known_mental_illness" /> You have a known mental illness<br>
<p>If so, list here</p><input type="text"/><br>
<input type="checkbox" name="you_are_you_committed_to_treatment" /> You are you committed to treatment<br>
<input type="checkbox" name="you_have_any_medical_problems"/> You have any medical problems<br>
<p>If so, list here</p><input type="text"/><br>

<input type="checkbox" name="are_you_sexually_active" /> Are you sexually active<br>
<input type="checkbox" name="you_have_pets" /> You have pets<br>
<input type="checkbox" name="you_have_been_convicted_of_a_crime" /> You have been convicted of a crime<br>
<input type="checkbox" name="you_are_in_a_relationship" /> You are in a relationship<br>
<input type="checkbox" name="you_speak_english_fluently" /> You speak English fluently<br>
<p>What are you hoping to achive through therapy</p>
<input type="textbox"/>
<br>
<br>
<p>If completed please sign with your full and submit</p>
<input type="submit"/>




